In [8]:
import fun_doe as fd

In [9]:
model, design, design_hist, optimality_hist = fd.coordinate_exchange(experiments=15,
                                                                     features=2,
                                                                     epochs=10,
                                                                     levels=[-1.0, 0.0, 1.0],
                                                                     model_order=1,
                                                                     interactions_only=False,
                                                                     bias=True)

# TODO: make the levels desecrate for each feature. Now we are assuming that all features have the same levels.

In [10]:
design

     x0   x1
0  -1.0 -1.0
1  -1.0  1.0
2  -1.0 -1.0
3  -1.0  1.0
4  -1.0 -1.0
5  -1.0  1.0
6  -1.0 -1.0
7   1.0 -1.0
8  -1.0  1.0
9   1.0 -1.0
10  1.0  1.0
11  1.0  1.0
12  1.0 -1.0
13  1.0  1.0
14  1.0 -1.0

In [11]:
model

      1   x0   x1
0   1.0 -1.0 -1.0
1   1.0 -1.0  1.0
2   1.0 -1.0 -1.0
3   1.0 -1.0  1.0
4   1.0 -1.0 -1.0
5   1.0 -1.0  1.0
6   1.0 -1.0 -1.0
7   1.0  1.0 -1.0
8   1.0 -1.0  1.0
9   1.0  1.0 -1.0
10  1.0  1.0  1.0
11  1.0  1.0  1.0
12  1.0  1.0 -1.0
13  1.0  1.0  1.0
14  1.0  1.0 -1.0

In [12]:
import pyDOE

In [13]:
pyDOE.__file__

'/Users/thodorisladas/opt/anaconda3/lib/python3.9/site-packages/pyDOE/__init__.py'

In [1]:
import dexpy as dx
des_1 = dx.Design(experiments=12, levels={0: [-1, 0, 1], 1: [-5, 5]})
des_1.set_model(order=2, interactions_only=False, bias=True)
des_1.set_algorithm(criterion="det", epochs=3)
des_1.__dict__

{'experiments': 12,
 'levels': {0: [-1, 0, 1], 1: [-5, 5]},
 'features': 2,
 'order': 2,
 'interactions_only': False,
 'bias': True,
 'epochs': 3,
 'criterion': 'det'}

In [3]:
m, bd, d, h = des_1.fit()
m

      1   x0   x1  x0^2  x0 x1  x1^2
0   1.0 -1.0 -5.0   1.0    5.0  25.0
1   1.0 -1.0  5.0   1.0   -5.0  25.0
2   1.0 -1.0 -5.0   1.0    5.0  25.0
3   1.0 -1.0  5.0   1.0   -5.0  25.0
4   1.0 -1.0 -5.0   1.0    5.0  25.0
5   1.0 -1.0  5.0   1.0   -5.0  25.0
6   1.0 -1.0 -5.0   1.0    5.0  25.0
7   1.0 -1.0  5.0   1.0   -5.0  25.0
8   1.0 -1.0 -5.0   1.0    5.0  25.0
9   1.0  0.0 -5.0   0.0   -0.0  25.0
10  1.0  1.0 -5.0   1.0   -5.0  25.0
11  1.0  1.0 -5.0   1.0   -5.0  25.0

In [4]:
r = des_1.gen_random_design()

In [5]:
m = des_1.gen_model_matrix(data=r)

In [6]:
m

      1        x0        x1      x0^2     x0 x1      x1^2
0   1.0  0.433523  0.260902  0.187942  0.113107  0.068070
1   1.0  0.873448  0.685015  0.762912  0.598325  0.469245
2   1.0  0.561671  0.451365  0.315475  0.253519  0.203730
3   1.0  0.069982  0.187028  0.004897  0.013089  0.034980
4   1.0  0.754083  0.083502  0.568642  0.062968  0.006973
5   1.0  0.455447  0.100224  0.207432  0.045647  0.010045
6   1.0  0.599938  0.447774  0.359926  0.268637  0.200502
7   1.0  0.348604  0.265616  0.121525  0.092595  0.070552
8   1.0  0.515629  0.588369  0.265873  0.303380  0.346178
9   1.0  0.608670  0.138922  0.370479  0.084558  0.019299
10  1.0  0.028968  0.272314  0.000839  0.007888  0.074155
11  1.0  0.151908  0.334761  0.023076  0.050853  0.112065

In [10]:
d = {0: [-1, 1], 1: [-1, 1]}
enumerate([1,2])

In [34]:
levels_2 = {0: [-2, 2], 1: [-5, 5]}
for (k,v) in levels_2.items():
    print(k, '-->', v)

0 --> [-2, 2]
1 --> [-5, 5]

In [27]:
experiment=-1+1
feature=-1+1
levels_2['feat0']

[-2, 2]

In [35]:
levels=[-1,1]
experiments, features = 15,2

for row in range(experiments):
    for col in range(features):
        for count, level in enumerate(levels_2[col]):
            print(f"Exp: {row+1}, Feat: {col+1}, count: {count+1}, lvl: {level}")

Exp: 1, Feat: 1, count: 1, lvl: -2
Exp: 1, Feat: 1, count: 2, lvl: 2
Exp: 1, Feat: 2, count: 1, lvl: -5
Exp: 1, Feat: 2, count: 2, lvl: 5
Exp: 2, Feat: 1, count: 1, lvl: -2
Exp: 2, Feat: 1, count: 2, lvl: 2
Exp: 2, Feat: 2, count: 1, lvl: -5
Exp: 2, Feat: 2, count: 2, lvl: 5
Exp: 3, Feat: 1, count: 1, lvl: -2
Exp: 3, Feat: 1, count: 2, lvl: 2
Exp: 3, Feat: 2, count: 1, lvl: -5
Exp: 3, Feat: 2, count: 2, lvl: 5
Exp: 4, Feat: 1, count: 1, lvl: -2
Exp: 4, Feat: 1, count: 2, lvl: 2
Exp: 4, Feat: 2, count: 1, lvl: -5
Exp: 4, Feat: 2, count: 2, lvl: 5
Exp: 5, Feat: 1, count: 1, lvl: -2
Exp: 5, Feat: 1, count: 2, lvl: 2
Exp: 5, Feat: 2, count: 1, lvl: -5
Exp: 5, Feat: 2, count: 2, lvl: 5
Exp: 6, Feat: 1, count: 1, lvl: -2
Exp: 6, Feat: 1, count: 2, lvl: 2
Exp: 6, Feat: 2, count: 1, lvl: -5
Exp: 6, Feat: 2, count: 2, lvl: 5
Exp: 7, Feat: 1, count: 1, lvl: -2
Exp: 7, Feat: 1, count: 2, lvl: 2
Exp: 7, Feat: 2, count: 1, lvl: -5
Exp: 7, Feat: 2, count: 2, lvl: 5
Exp: 8, Feat: 1, count: 1, lvl: -2
Exp: 8, Feat: 1, count: 2, lvl: 2
Exp: 8, Feat: 2, count: 1, lvl: -5
Exp: 8, Feat: 2, count: 2, lvl: 5
Exp: 9, Feat: 1, count: 1, lvl: -2
Exp: 9, Feat: 1, count: 2, lvl: 2
Exp: 9, Feat: 2, count: 1, lvl: -5
Exp: 9, Feat: 2, count: 2, lvl: 5
Exp: 10, Feat: 1, count: 1, lvl: -2
Exp: 10, Feat: 1, count: 2, lvl: 2
Exp: 10, Feat: 2, count: 1, lvl: -5
Exp: 10, Feat: 2, count: 2, lvl: 5
Exp: 11, Feat: 1, count: 1, lvl: -2
Exp: 11, Feat: 1, count: 2, lvl: 2
Exp: 11, Feat: 2, count: 1, lvl: -5
Exp: 11, Feat: 2, count: 2, lvl: 5
Exp: 12, Feat: 1, count: 1, lvl: -2
Exp: 12, Feat: 1, count: 2, lvl: 2
Exp: 12, Feat: 2, count: 1, lvl: -5
Exp: 12, Feat: 2, count: 2, lvl: 5
Exp: 13, Feat: 1, count: 1, lvl: -2
Exp: 13, Feat: 1, count: 2, lvl: 2
Exp: 13, Feat: 2, count: 1, lvl: -5
Exp: 13, Feat: 2, count: 2, lvl: 5
Exp: 14, Feat: 1, count: 1, lvl: -2
Exp: 14, Feat: 1, count: 2, lvl: 2
Exp: 14, Feat: 2, count: 1, lvl: -5
Exp: 14, Feat: 2, count: 2, lvl: 5
Exp: 15, Feat: 1, count: 1, lvl: -2
Exp: 15, Feat: 1, count: 2, lvl: 2
Exp: 15, Feat: 2, count: 1, lvl: -5
Exp: 15, Feat: 2, count: 2, lvl: 5

          x0        x1
0   0.492278  0.098938
1   0.966641  0.184420
2   0.655142  0.843087
3   0.519798  0.880590
4   0.671437  0.719057
5   0.283838  0.892431
6   0.406209  0.699103
7   0.007848  0.978272
8   0.896319  0.921159
9   0.591123  0.972689
10  0.674755  0.169338
11  0.335469  0.291961

In [38]:
levels_2[0][1]

2